:root {
    --background:#0065af;
    --white: #fff;
    --description: #8b8b8b;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: sans-serif;
    background-color: var(--background);
}
/** global **/
.container {
    width: 120rem;
    max-width: 90%;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}
h2 {
    font-size: 3rem;
    font-weight: 700;
}
/** content **/
.products {
    margin: 5rem 0;
}
.products__heading {
    color:var(--white);
    text-align: center;
    padding: 3rem 0;
}
@media (min-width: 768px) { 
    .products__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:2rem;
    }     
}
.product {
    background-color: var(--white);
    margin-bottom: 1rem;
}
@media (min-width: 768px) { 
      .product {
        margin-bottom: 0;
      }
}
.product:last-of-type {
    margin-bottom: 0;
}
.product__content {
padding: 2rem;
}
.product__name {
    font-size: 3rem;
}
.product__description {
    color: var(--description);
    margin: 0;
}
.product__prices {
    display: flex;
    justify-content: space-between;
}
.product__price {
    font-size: 3rem;
    color: green;
    font-weight: 900;
    margin: 0;
}
.product__price--offer {
    color:red;
    text-decoration: line-through;
}
.product__btn {
    all:unset;
    background-color: var(--background);
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: var(--white);
    cursor: pointer;
}
.product__btn:hover {
    background-color: #045691;
}