:root {
    --primario: #6834a6;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
[class$="__contenedor"] {
  max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
[class$="__heading"] {
  text-align: center;
  margin-bottom: 5rem;
}
.header {
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 5rem 0;
    background-size: 10rem;
}
@media (min-width: 768px) { 
      .header {
        background-size: 50rem;
      }
}
@media (min-width: 992px) { 
      .header {
        background-size:60rem;
      }
}
@media (min-width: 1280px) { 
      .header {
        background-size: 80rem;
      }
}
@media (min-width: 1400px) { 
    .header {
      background-size: 100rem;
    }
}
@media (min-width: 768px) { 
      .header__barra {
        display: flex;
        justify-content:space-between;
      }
}
.header__logo {
    width: 15rem;
    margin: 0 auto 3rem auto;
}
@media (min-width: 768px) { 
      .header__logo {
        margin: 0;        
      }
      .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
      }
}
@media (min-width: 768px) { 
      .header__heading {
        text-align: left;
        font-size: 5rem;
        line-height: 1.2;
      }
}
@media (min-width: 768px) { 
    .header__imagen {
        max-width: 30rem;
        margin:0 auto;
    }
}
.header__boton {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    color:var(--blanco);
    text-align: center;
    margin-bottom: 4rem;
}
@media (min-width: 768px) { 
      .header__boton {
        padding: 1rem 3rem;
        display: inline-block;
      }
}
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { 
      .navegacion {
        flex-direction: row;
        align-items: flex-start;
        gap:2rem;

      }
}
.navegacion__link {
    color: var(--primario);
}
@media (min-width: 768px) { 
      .navegacion__link {
        color: var(--blanco);
      }
}
/** seccion de que es: nucleus **/

.nucleus {
  margin-top: 3rem;
}
.nucleus__grid {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) { 
    .nucleus__grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 5rem;
      align-items: center;
    }
}
.listado__elemento {
  background-color: var(--blanco);
  box-shadow: 0px 0px 80px 1px rgb(0 0 0 / .15);
  padding: 2rem;
  margin-bottom: 5rem;
  transition-property: transform;
  transition-duration: 300ms;
}
.listado__elemento:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) { 
  .listado__elemento--2col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }    
}
.listado__heading {
  font-size: 3rem;
  color: var(--primario);
  margin: 0;
}
.listado__numero {
  color: var(--primario);
  font-size: 6rem;
  margin: 0;
  font-weight: 900;
  text-align: center;
}
@media (min-width: 768px) { 
  .listado__numero {
    flex-basis: 20rem;
    text-align: right;
    font-size: 4rem;
  }
}
.listado__texto {
  margin: 0;
  font-size: 2rem;
  color: var(--negro);
}
/** seccion seguridad **/
.seguridad {
  background-color: var(--primario);
  padding: 20rem 0;
  position: relative;
  margin: 10rem 0;
  overflow: hidden;
}
.seguridad::before,
.seguridad::after {
  background-color: var(--blanco);
  content: "";
  height: 20rem;
  width: 125%;
  position: absolute;
}
.seguridad::before {
  top:-10rem;
  left: 0;
  transform: rotate(3deg);
}
.seguridad::after {
  bottom: -10rem;
  left: 0;
  transform: rotate(3deg);
}
.seguridad__heading {
  color: var(--blanco);
}
@media (min-width: 768px) { 
    .seguridad__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5rem;
      align-items: center;
    }
}
/** comisiones **/
@media (min-width: 768px) { 
    .comisiones__grid {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap: 5rem;
      align-items: flex-end;
    }
}
@media (min-width: 998px) { 
  .comisiones__grid {
    align-items: center;
  }
}
.comisiones__texto {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (min-width: 768px) { 
  .comisiones__texto {
    text-align: left;
  }
}